@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
	font-family: Courier, monospace;
}
html {
	font-size: 110%;
}
.gt_float_switcher img {
	display: none !important;
}
img.logo {
	max-width: 50px;
}
figure.video,
video {
	max-width: 100%;
}
header,
footer {
	padding: 1rem 0;
}
code {
	font-size: 2.5rem;
	background-color: greenyellow;
}
img.rounded {
	border-radius: 999px;
}
img.border,
img.rounded {
	border: double 5px #ddd;
}
header,
footer {
	background-color: #000;
	color: #fff;
}
.grid-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.tag {
	background-color: aquamarine;
	padding: 2px 5px;
}
.grid-container {
	max-width: none;
}
h1 {
	font-size: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Major Mono Display", Courier, monospace;
}
h2 {
	margin-top: 4rem;
}
.callout h2 {
	margin-top: 0;
}
hr {
	margin: 4rem auto;
}
#airtable-list ul {
	list-style: none;
	margin: 0;
}
.callout {
	color: white;
	border: double 3px;
	background-color: transparent;
}
.text-cover-image img {
	width: 100%;
}
a {
	cursor: pointer;
}
a:hover,
a:focus {
	color: #64f434;
}
.taglist span {
	background-color: rgba(255, 255, 255, 0.125);
	padding: 0 6px;
	margin-right: 5px;
	display: inline-block;
	margin: 1px;
}
@media screen and (max-width: 39.9375em) {
	.menu {
		justify-content: center;
	}
}
a[rel="home"] {
	font-weight: bold;
}
.all_links a {
	display: block;
}
summary {
	background-color: rgba(255, 255, 255, 0.125);
	padding: 3px 12px;
	margin-bottom: 1rem;
}
summary:hover {
	color: #64f434;
	cursor: pointer;
}
