/* good serif font: "Source Code Pro",  */
/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
	font-family: Courier, monospace;
}
html {
	font-size: 110%;
}
.gt_float_switcher img {
	display: none !important;
}
img.logo {
	max-width: 50px;
}
img {
	/* max-height: 75vh; */
}
figure.video,
video {
	max-width: 100%;
}
header,
footer {
	padding: 1rem 0;
}
code {
	font-size: 2.5rem;
	background-color: greenyellow;
}
img.rounded {
	border-radius: 999px;
}
img.border,
img.rounded {
	border: double 5px #ddd;
}
header,
footer {
	background-color: #000;
	color: #fff;
}
.grid-container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.tag {
	background-color: aquamarine;
	padding: 2px 5px;
}
.grid-container {
	max-width: none;
}
h1 {
	font-size: 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Major Mono Display", Courier, monospace;
}
#airtable-list ul {
	list-style: none;
	margin: 0;
}
.callout {
	color: white;
	border: double 3px;
	background-color: transparent;
}
a {
	cursor: pointer;
}
/* .footnotes {
	font-size: 80%;
} */
details .indent {
	margin-left: 0.9rem;
}
.list span {
	background-color: rgba(255, 255, 255, 0.125);
	padding: 2px 6px;
	margin-right: 5px;
	white-space: nowrap;
}
